#audio, #video, #img, a {
    padding: 5px 5px 2px 5px !important;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
#canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
}